/* open-sans-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/open-sans-v34-latin-regular.woff2") format("woff2"),
    /* Chrome 36+, Opera 23+, Firefox 39+ */
      url("../fonts/open-sans-v34-latin-regular.woff") format("woff"); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* open-sans-italic - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Open Sans";
  font-style: italic;
  font-weight: 400;
  src: url("../fonts/open-sans-v34-latin-italic.woff2") format("woff2"),
    /* Chrome 36+, Opera 23+, Firefox 39+ */
      url("../fonts/open-sans-v34-latin-italic.woff") format("woff"); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* open-sans-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/open-sans-v34-latin-700.woff2") format("woff2"),
    /* Chrome 36+, Opera 23+, Firefox 39+ */
      url("../fonts/open-sans-v34-latin-700.woff") format("woff"); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* open-sans-700italic - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Open Sans";
  font-style: italic;
  font-weight: 700;
  src: url("../fonts/open-sans-v34-latin-700italic.woff2") format("woff2"),
    /* Chrome 36+, Opera 23+, Firefox 39+ */
      url("../fonts/open-sans-v34-latin-700italic.woff") format("woff"); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
:root {
  --red: #a40e4c;
  --text-on-red: #ffffff;
  --green: #73956f;
  --text-on-green: #ffffff;
  --header-color: #2c2c54;
  --text-on-header: #ffffff;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: "Open Sans";
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: auto 1fr;
}

#sidebar {
  grid-row: span 2;
  background: #f5d6ba;
}

#header {
  background-color: var(--header-color);
  padding: 15px;
}

#main {
  padding: 15px;
}

#input-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}

#input-explanation {
  padding: 10px 30px;
}

#input-explanation h4 {
  margin-bottom: 10px;
}

#input-explanation p {
  font-size: 0.9rem;
  margin-top: 0;
}

button {
  background-color: var(--red);
  color: var(--text-on-red);
  font-size: 1rem;
  border: none;
  padding: 5px 16px;
  border-radius: 4px;
  transition: all 0.3s ease-in-out;
  font-family: "Open Sans";
}

a {
  color: var(--header-color);
}

#start,
#download {
  background-color: var(--green);
  color: var(--text-on-green);
}

button:hover {
  transform: scale(0.95);
}

button:active {
  transform: scale(0.85);
}

h1 {
  color: var(--text-on-header);
  margin: 0;
  font-size: 1.6rem;
}

textarea {
  font-family: "Open sans";
  width: max(60%, 300px);
  height: 50vh;
}

h1,
h2,
h3,
h4 {
  text-align: center;
}

#sidebar .skip-to-end {
  background-color: var(--red);
  color: var(--text-on-red);
  position: fixed;
  bottom: -5px;
  left: 60px;
  padding-bottom: 10px;
}

#container-progress-table {
  max-height: calc(100vh - 75px);
  overflow-y: auto;
}

#progress-table {
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  border-bottom: 1px solid #2c2c54;
  padding: 5px;
  width: 50%;
  min-width: 100px;
  max-width: 150px;
  width: min-content;
  overflow: hidden;
}

td:first-child,
th:first-child {
  border-right: 1px solid #2c2c54;
  padding-left: 20px;
}

tr:first-child th {
  border-right: none;
}

#heading-choose-game {
  line-height: 1.8rem;
}

#search-term-in-heading {
  background-color: var(--green);
  color: var(--text-on-green);
  padding: 5px 10px;
  border-radius: 3px;
  white-space: pre;
}

#tile-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  justify-items: center;
  gap: 10px;
  align-items: center;
}

#tile-container button {
  align-self: baseline;
  margin-top: 50px;
}

.tile {
  text-align: center;
}

.tile img {
  max-width: 150px;
  cursor: pointer;
}

.alternate-names {
  font-size: 0.9rem;
}

#modal-background {
  width: 100vw;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  display: flex;
  justify-content: center;
  background: #00000099;
  align-items: center;
}

#modal-too-many-requests {
  background: var(--green);
  color: var(--text-on-green);
  padding: 10px 40px;
  border-radius: 5px;
  box-shadow: rgb(0 0 0 / 30%) 0px 0px 15px;
}

.hidden {
  display: none !important;
}

#id-list {
  color: green;
}

#no-matches {
  color: red;
}

#skipped {
  color: var(--header-color);
}

#results-buttons {
  display: flex;
  justify-content: center;
  gap: 30px;
}
